html {
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: stretch;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  min-height: stretch;
  overflow-y: scroll;
  font-family: $font-family-default;
  font-size: em($font-size-default);
  font-weight: $font-weight-light;
  line-height: 1.234;
  color: $color-black-900;
  background-color: $color-white;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#app {
  flex-grow: 1;
}
